<div class="card-info">
  <div class="heading"><h2>Payment Methods</h2></div>
  <div class="internal-card">
    <div class="card-specs">
      &nbsp;
      <div class="card-type">
        <input type="radio" name="card_type" value="visa" checked="checked">Visa</input>
        <input type="radio" name="card_type" value="mastercard">MasterCard</input>
        <input type="radio" name="card_type" value="amex">AMEX</input>
      </div>
      <div class="card-number">
        Card Name <br />
        <input type="text" id="name" name="name" class="inputtext" style="width: 200px;"></input>
      </div>
      <div class="card-number">
        Credit Card # <br />
        <input type="text" id="number" name="number" class="inputtext" style="width: 200px;"></input>
      </div>
      <div class="card-cvv-expiry">
        <div class="card-expiry">
          Exp. Date<br />
          <input type="text" id="expiry" name="expiry" class="inputtext" placeholder="MM/YYYY" style="width: 100px;"></input>
        </div>
        <div class="card-cvv">
          CVV<br />
          <input type="text" id="cvv" name="cvv" class="inputtext" style="width: 80px;"></input>
        </div>
      </div>
      <div class="card-number">
        Delivery Date & Time<br />
        <input type="text" id="date" name="date" class="inputtext" style="width: 200px;"></input>
      </div>
    </div>
    <div class="coupon">
      Coupon Code
      <input type="text" id="coupon_code" name="coupon_code" class="inputtext" style="width: 90px;"></input>
    </div>
  </div>
</div>
