<div id="cartify" style="z-index:10;">
<h2 style="color: #3B5998; font-size: 1.5em; margin: -10px 0 10px 45px;">Your Cart</h2>

<div id="cartify_items"></div>

<script id="cart_item_template" type="x-tmpl-mustache">
		<div id="cart_details" style="display:none;">
		{{#items}}
		<div id="cart_item_{{id}}" class="cart_item" style="background-color:none !important;">
		<b>{{name}} - Quantity: {{qty}}, Price: {{price}}, Total: {{total}}</b> &nbsp;
		<a style="cursor:pointer;" onclick="remove_item({{id}});">Remove [X]<a/><br />

		Options:
		<ul style="margin-top:0px;margin-bottom:0px;">
			{{#options}}
			<li>{{name}} - {{price}}</li>
			{{/options}}
		</ul>
		</div>
		{{/items}}<br />
		</div>

		<b>Total Price:</b> {{total}}<br />
		<b>Items :</b> {{count}}
</script>

<a id="checkout_link" style="cursor:pointer;display: none;" onClick="show_card_dialog();">Checkout</a>
<a id="view_details_link"  style="cursor:pointer;" onClick="show_full_cart();">View Details</a>
</div>
