<div id="cartify">
<h2>Your Cart</h2>

<div id="cartify_items"></div>

<script id="cart_item_template" type="x-tmpl-mustache">
	<div id="Test">
		{{#items}}
		<b>{{name}} - Quantity: {{qty}}, Price: {{price}}, Total: {{total}}</b><br />

		Options:
		<ul style="margin-top:0px;margin-bottom:0px;">
			{{#options}}
			<li>{{name}} - {{price}}</li>
			{{/options}}
		</ul>
		{{/items}}
		<b>Total Price:</b> {{total}}
	</div>
</script>

<br />
<a href="#" onClick="show_card_dialog();">Checkout</a>
</div>
